<div class="row justify-content-center">

  <div class="col-6">
    <div class="module">
      <h1>Reset Password</h1>
    </div>

    <form action="/reset_password/<%= @token %>" method="post">
      <label for="password">New Password:</label>
      <input type="password" name="password" id="password" required>

      <label for="confirm_password">Confirm Password:</label>
      <input type="password" name="confirm_password" id="confirm_password" required>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
    <%= partial 'shared/errors' %>
  </div>
</div>
